.page-content-wrapper,
.page-content-wrapper .page-content{
    margin-left: 0;
}
.page-content-wrapper .page-content-hack {
    margin-left: 0 !important;
    /*background: blue url("../../../../images/teambuilding3.jpg") no-repeat fixed center; */
    background-size: cover;
    background-color: #85b9dd;
}
.job-finder-content {
    padding-bottom: 35px;
    animation: fadeIn 1s;
    background: rgba(255,255,255,.85);
    margin: 40px auto;
    padding: 40px 50px 25px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    width: 80%;
}
.job-finder-content input:focus{
    border-color: #50d07d !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #50d07d !important;
}
.job-finder-content h1
{
    margin: 10px auto 30px;
}
.form-md-line-input {
  margin-right: 0 !important;
}
.page-sidebar-closed .page-content-wrapper .page-content {
    margin-left: 0 !important;
}
/*cusstom*/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #fff !important;
    border: none !important;
}
.list-item {
    background-color: #fff;
    padding: 10px;
    -webkit-box-shadow: 0 0px 2px #777;
    -moz-box-shadow: 0 0px 2px #777;
    box-shadow: 0 0px 2px #777;
    margin-top: 5px;
}
.list-item:hover {

}
.item-content {
    padding: 0 30px;
}
img.cff-avatar {
    max-width: 100%;
    width: 150px !important;
    height: auto;
}
#list-profile progress[value]{
    height: 7px;
    margin-bottom: 0.3em;
}
.profile-userpic {
    /*margin-right: 10px;*/
}
.cff-character-col {
    padding-top: 2em;
    padding-bottom: 2em;
}
.item-content .row .portlet-body {
    padding: 2px 0;
}
.cff-button {
    margin-top: 10px;
}
.form-group.form-md-line-input {
    padding: 10px;
    margin-bottom: 20px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    padding: 6px 5px;
}
.page-header.navbar .page-logo {
    /*margin: 0 auto;*/
    /*float: none;*/
    z-index: 999;
    position: relative;
}
.page-header.navbar .page-logo a {
    height: 100%;
}

.page-header.navbar .page-logo .logo-default {
    height: 100%;
}

.page-header.navbar .page-logo img{
    max-width: 100%
}
.page-header.navbar .page-logo .logo-default {
    margin: 0;
}
.page-footer-inner {
    width: 100%;
}
a.cff-fullname {
    color: #5a7391;
}

.portlet-right {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1)
}

#characters-portlet {
    padding-top: 0;
}

.fb-link {
    color: #337AB7;
}
.fb-link .fa-2x {
    font-size: 1.3em;
